
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    Первая страница. По странной причине которые людя называют эту страницу Хомяк.
</p>
<p>
    Возможно это связанно с тем что на английском эта страница часто называется Home page
</p>